<nz-breadcrumb class="pb-16">
  <nz-breadcrumb-item>Dashboard</nz-breadcrumb-item>
  <nz-breadcrumb-item>Products</nz-breadcrumb-item>
</nz-breadcrumb>

<div class="flex">
  <nz-input-group class="flex-1 mr-24" [nzSuffix]="suffixIconSearch">
    <input type="text" nz-input placeholder="Search products..."/>
  </nz-input-group>
  <ng-template #suffixIconSearch>
    <i nz-icon nzType="search"></i>
  </ng-template>

  <button
    nz-button
    nzType="primary"
    class="btn-bg-secondary"
    routerLink="/products/new"
  >
    New product
  </button>
</div>

<!--suppress TypeScriptValidateTypes -->
<nz-table
  class="mb-32 mt-12"
  #tableProducts
  nzShowPagination
  nzShowSizeChanger
  [nzFrontPagination]="false"
  [nzData]="(products$ | async)?.data || []"
  (nzPageIndexChange)="onCurrentPageChanged($event)"
  (nzPageSizeChange)="onPageSizeChanged($event)"
  [nzTotal]="(products$ | async)?.total || 0"
  [nzPageSize]="(pageSize$ | async) || 0"
>
  <thead>
  <tr>
    <th>Product</th>
    <th nzWidth="10%">Category</th>
    <th nzWidth="10%">Stock</th>
    <th nzWidth="10%">Price</th>
    <th nzWidth="3%"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of tableProducts.data">
    <td>
      <div class="flex">
        <img
          alt=""
          class="br-x product-image"
          [src]="composeImagePath(product.images[0]?.imagePath)"/>
        <div class="flex-column align-start justify-center ml-12">
          <p class="mb-2 fs-5 semi-bold">{{product.name}}</p>
          <p class="m-0 fs-4 element-secondary">{{product.description}}</p>
        </div>
      </div>
    </td>
    <td>{{product.category.name}}</td>
    <td>{{product.stockQuantity | number}} in stock</td>
    <td>{{product.price | currency}}</td>
    <td>
      <nz-button-group>
        <button
          nz-button
          nzType="link"
          nz-dropdown [nzDropdownMenu]="dropdownMenu">
          <i nz-icon nzType="more" class="menu-button"></i>
        </button>
      </nz-button-group>
      <nz-dropdown-menu #dropdownMenu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item (click)="onShowProductDetailsPressed(product)">Show details</li>
          <li nz-menu-item (click)="onUpdateProductPressed(product)">Update</li>
          <li nz-menu-item (click)="onDeleteProductPressed(product)">Delete</li>
        </ul>
      </nz-dropdown-menu>
    </td>
  </tr>
  </tbody>
</nz-table>
