<nz-breadcrumb class="pb-16">
  <nz-breadcrumb-item>Dashboard</nz-breadcrumb-item>
  <nz-breadcrumb-item>Products</nz-breadcrumb-item>
  <nz-breadcrumb-item>New</nz-breadcrumb-item>
</nz-breadcrumb>

<input
  #inputElement
  class="d-none"
  type="file"
  accept="image/*"
  (change)="handleFileInput($event)"/>

<div nz-row nzJustify="end">
  <button
    nz-button
    nzType="primary"
    class="btn-bg-secondary"
    (click)="onSavePressed()">
    Save
  </button>
</div>

<form [formGroup]="form" nz-row nzGutter="64">
  <div nz-col nzSpan="14">
    <p class="mb-24 fs-6 semi-bold">Basic information</p>
    <nz-form-item>
      <nz-form-control nzErrorTip="Field is required">
        <input nz-input placeholder="Name" formControlName="name">
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Field is required">
        <nz-select
          nzAllowClear
          nzPlaceHolder="Category"
          formControlName="categoryId">
          <nz-option
            *ngFor="let category of categories | async"
            [nzLabel]="category.name"
            [nzValue]="category.id"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <textarea
        nz-input
        placeholder="Description"
        formControlName="description"
        [nzAutosize]="{ minRows: 4, maxRows: 6 }"></textarea>
    </nz-form-item>

    <p class="mt-34 fs-6 semi-bold">Images</p>
    <div nz-row
         nzAlign="middle"
         nzJustify="space-between"
         class="mt-12"
         formArrayName="images"
         *ngFor="let imageForm of imagesFormArray.controls;let i = index;">

      <ng-container [formGroupName]="i"
                    *ngLet="form.dirty &&
                            !imageForm?.get('file')?.value &&
                            !imageForm?.get('src')?.value as imageDirty">
        <div (click)="onUploadClick(i)"
             *ngLet="productImageSrcs[i] as imageSrc"
             [ngClass]="{
               'upload-container-border': !imageSrc,
               'upload-container-border-error': imageDirty
             }"
             class="upload-container row center br-xs pointer">
          <ng-container *ngIf="!imageSrc">
            <i class="upload-icon"
               nz-icon
               nzType="plus"
               [ngClass]="{'color-error': imageDirty}"></i>
            <div class="ml-5" [ngClass]="{'color-error': imageDirty}">Upload</div>
          </ng-container>
          <img *ngIf="imageSrc"
               [src]="resolveImage(imageSrc, imageForm)"
               class="product-image br-xs"
               alt=""/>
        </div>
        <div nz-row nzAlign="middle">
          <nz-form-item class="m-0">
            <nz-form-control [nzErrorTip]="orderErrorTemplate">
              <input nz-input
                     nz-col
                     placeholder="Order"
                     class="input-order"
                     formControlName="order">
              <ng-template #orderErrorTemplate let-control>
                <ng-container *ngIf="control.hasError('required')">Field is required</ng-container>
                <ng-container *ngIf="control.hasError('pattern')">Invalid number</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
          <button *ngIf="imagesFormArray.length > 1"
                  nz-button
                  nz-col
                  nzSize="small"
                  nzType="text"
                  class="ml-12"
                  (click)="onRemoveImageClick(i)">
            <i nz-icon nzType="close"></i>
          </button>
        </div>
      </ng-container>
    </div>

    <button
      nz-button
      nzType="primary"
      class="btn-bg-secondary mv-20"
      (click)="onUploadNewImagePressed()">
      Upload new image
    </button>
  </div>
  <div nz-col nzSpan="10">
    <p class="mb-24 fs-6 semi-bold">Pricing</p>
    <nz-form-item>
      <nz-form-control [nzErrorTip]="priceErrorTemplate">
        <input nz-input placeholder="Price" formControlName="price">
        <ng-template #priceErrorTemplate let-control>
          <ng-container *ngIf="control.hasError('required')">Field is required</ng-container>
          <ng-container *ngIf="control.hasError('pattern')">Invalid number</ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzErrorTip]="oldPriceErrorTemplate">
        <input nz-input placeholder="old price" formControlName="oldPrice">
        <ng-template #oldPriceErrorTemplate let-control>
          <ng-container *ngIf="control.hasError('pattern')">Invalid number</ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <p class="mt-32 mb-20 fs-6 semi-bold">Inventory</p>
    <nz-form-item>
      <nz-form-control [nzErrorTip]="stockQuantityErrorTemplate">
        <input nz-input placeholder="Stock quantity" formControlName="stockQuantity">
        <ng-template #stockQuantityErrorTemplate let-control>
          <ng-container *ngIf="control.hasError('pattern')">Invalid quantity</ng-container>
          <ng-container *ngIf="control.hasError('required')">Field is required</ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
  </div>
</form>

