<nz-breadcrumb class="pb-16">
  <nz-breadcrumb-item>Dashboard</nz-breadcrumb-item>
  <nz-breadcrumb-item>Orders</nz-breadcrumb-item>
</nz-breadcrumb>

<nz-input-group class="flex-1 mr-24" [nzSuffix]="suffixIconSearch">
  <input type="text" nz-input placeholder="Search orders..."/>
</nz-input-group>
<ng-template #suffixIconSearch>
  <i nz-icon nzType="search"></i>
</ng-template>

<!--suppress TypeScriptValidateTypes -->
<nz-table
  class="mb-32 mt-12"
  #tableOrders
  nzShowPagination
  nzShowSizeChanger
  [nzFrontPagination]="false"
  (nzPageIndexChange)="onCurrentPageChanged($event)"
  (nzPageSizeChange)="onPageSizeChanged($event)"
  [nzTotal]="(orders$ | async)?.total ?? 0"
  [nzPageSize]="(pageSize$ | async) ?? 0"
  [nzData]="(orders$ | async)?.data ?? []">
  <thead>
  <tr>
    <th>ID</th>
    <th>Date</th>
    <th>Customer</th>
    <th>Status</th>
    <th>Total</th>
    <th nzWidth="3%"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let order of tableOrders.data">
    <td>#{{order.id}}</td>
    <td>{{order.createdAt | date}}</td>
    <td>{{order.user?.fullName ?? ''}}</td>
    <td>{{order.status}}</td>
    <td>{{order.itemTotal + order.deliveryFee | currency}}</td>
    <td>
      <nz-button-group>
        <button
          nz-button
          nzType="link"
          nz-dropdown [nzDropdownMenu]="dropdownMenu">
          <i nz-icon nzType="more" class="menu-button"></i>
        </button>
      </nz-button-group>
      <nz-dropdown-menu #dropdownMenu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item (click)="onShowOrderDetailsPressed(order)">Show details</li>
        </ul>
      </nz-dropdown-menu>
    </td>
  </tr>
  </tbody>
</nz-table>
