<nz-breadcrumb class="pb-16">
  <nz-breadcrumb-item>Dashboard</nz-breadcrumb-item>
  <nz-breadcrumb-item>Dashboard</nz-breadcrumb-item>
</nz-breadcrumb>


<div class="flex justify-between">
  <div class="flex-1 mr-12">
    <app-stat-card
      title="Total income"
      valueType="MONEY"
      value="3150"
      [relativePercentage]=".347"></app-stat-card>
  </div>
  <div class="flex-1 mh-12">
    <app-stat-card
      title="Averate order value"
      valueType="MONEY"
      value="290"
      [relativePercentage]="-.215"></app-stat-card>
  </div>
  <div class="flex-1 ml-12">
    <app-stat-card
      title="Total orders"
      valueType="NUMBER"
      value="540"
      [relativePercentage]="-.124"></app-stat-card>
  </div>
</div>

<section class="flex mt-32">
  <div class="background-secondary-container br-x pv-24 ph-16 flex-1 mr-24">
    <p class="mb-0 fs-6 semi-bold mb-12">Users</p>
    <p class="mb-0 fs-10 bold mb-32">{{1240 | number}}</p>
    <div class="flex flex-column justify-between">
      <div *ngFor="let index of [0,1,2,3,4,5,6,7]" class="flex justify-between flex-1">
        <p class="mb-4 fs-5">{{index * 4}}</p>
        <div class="fs-4 element-secondary">{{index + 1}}d</div>
      </div>
    </div>
  </div>
  <div class="background-secondary-container br-x flex-5 dashboard-chart ph-16 pv-24">
    <div class="flex justify-between">
      <p class="mb-42 fs-7 bold">Income statistics</p>
      <nz-tabset >
        <nz-tab nzTitle="Daily"></nz-tab>
        <nz-tab nzTitle="Weekly"></nz-tab>
        <nz-tab nzTitle="Monthly">
        d</nz-tab>
      </nz-tabset>
    </div>
  </div>
</section>
