$color-secondary-element: #777789ff;
$color-primary: #262d30ff;
$color-secondary-container: #f4f5faff;
$color-secondary-container-active: #d5d5e0;
$color-secondary-element-on-primary: #a0a5abff;
$color-secondary: #ebb66dff;
$color-success: #00c851ff;
$color-error: #ff4444ff;
